NODE_ENV="development"

FUNRAISE_APP_URL="http://localhost:3000"
FUNRAISE_APP_PORT="3000"

# Discord OAuth Configuration
DISCORD_CLIENT_ID="###################"
DISCORD_CLIENT_SECRET="################################"

# db
PORT=3000
DB_NAME=funraise
DB_USER=funraise_user
DB_PASSWORD=funraise123
DB_HOST=localhost
MYSQL_ROOT_PASSWORD=funraise_root_123


# tokens secrets
JWT_SECRET="##################################################"
JWT_REFRESH_SECRET="###########################################################"


# email confirmation service
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="######################"
SMTP_PASSWORD="###################"

# media storage (event images)
FIREBASE_API_KEY="#######################################"
FIREBASE_AUTH_DOMAIN="##############################"
FIREBASE_PROJECT_ID="##############"
FIREBASE_STORAGE_BUCKET="##################################"
FIREBASE_MESSAGING_SENDER_ID="############"
FIREBASE_APP_ID="#########################################"
FIREBASE_MEASUREMENT_ID="############"
